.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
}

.pagination {
    margin-left: 200px;
    margin-bottom: 50px;
}
.pagination button{
    margin-right: 10px;
}

.pagination .selected{
    background-color: goldenrod;
    border: gold;
    font-weight: bold;
    width: 40px;
    padding: 8px;
}

@media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}